$green-dark: #006722;
$green-dark-04: rgba(0, 103, 34, 0.4);
$green-light: #1C823E;
$green-very-light: #86B797;
$green-bright: #2AA353;
$get-in-touch-background: #F3F1F1;
$footer-links: #121212;
$footer-copyrights: #212121;
$footer-links-link: #8F8F8F;