@import "common";
@import "navbar";
@import "front-section";
@import "new-plants-section";
@import "our-story-section";
@import "feedback-section";
@import "gift-cards-section";
@import "principles-section";
@import "get-in-touch-section";
@import "footer";
@import "mobile";

body {
    display: flex;
    flex-direction: column;
    gap: 150px;

    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

#front {
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url("../assets/banners/front.png");
    background-size: cover;
    background-position: 50% 49%;
    //height: 750px;
    display: flex;
    flex-direction: column;
}

#new-plants {
    font-family: "Poppins", sans-serif;
}

#gift-cards {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/banners/gift-cards.png");
    background-size: cover;
    background-position: center;
    //height: 700px;
}

#get-in-touch {
    font-family: "Sora", sans-serif;
    background-color: $get-in-touch-background;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
}