@import "common";
@import "navbar";
@import "front-section";
@import "new-plants-section";
@import "our-story-section";
@import "feedback-section";
@import "gift-cards-section";
@import "principles-section";

body {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

#front {
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.5)), url("../assets/banners/front.png");
    background-size: cover;
    background-position: center;
    padding: 30px 100px 160px 30px;
}

#new-plants {
    font-family: "Poppins", sans-serif;
}

#gift-cards {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/banners/gift-cards.png");
    background-size: cover;
    background-position: center;
    height: 700px;
}